In [1]:
import pandas as pd
from datasets import load_dataset

In [4]:
imdb_dataset = load_dataset("imdb")
traindataset = imdb_dataset["train"]
df = pd.DataFrame(traindataset)
df.head()

                                                text  label
0  I rented I AM CURIOUS-YELLOW from my video sto...      0
1  "I Am Curious: Yellow" is a risible and preten...      0
2  If only to avoid making this type of film in t...      0
3  This film was probably inspired by Godard's Ma...      0
4  Oh, brother...after hearing about this ridicul...      0

In [6]:
df.isnull().sum()

text     0
label    0
dtype: int64

In [7]:
df.isna().sum()

text     0
label    0
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    25000 non-null  object
 1   label   25000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 390.8+ KB

In [9]:
df.nunique()

text     24904
label        2
dtype: int64

In [ ]:
df.value_counts()

In [ ]:
df.duplicated().sum()

In [ ]:
df.describe()